.company{
    .text{}
    &descr{
        font-size: 16px;
        color: #fff;
    }
    &block{
        display: flex;
        width: 600px;
        flex-wrap: wrap;
    }
    &block{
        display: flex;

    }
    &card{
    }
}