.home {
    background: url(../images/Rectangle2.png) center center / cover no-repeat;
    padding-top: 155px;
    padding-bottom: 220px;
    &__rectangle{
        margin: 0 auto;
        width: 700px;
        height: 200px;
        border: 1px solid $gold;
    }
    &__title{
        text-align: center;
        font-size: 54px;
        color: white;
        margin-top: 30px;
    }
    &__descr{
        color: white;
        text-align: center;
        margin-top: 40px;
    }
}